// Colors
$main-color: rgb(30, 137, 172);
$darker-color: rgb(30, 122, 151); 
// $main-color: #1eac5e;
$bg-color: #162124;
$div-color: #192d36;
$dav-color: #14232a;
$txt-color: #e8e6e3;
// $bg-color: #85cfe4;
// $div-color: #60aed3;
// $dav-color: #5fa8ca;
// $txt-color: #000000;



// Heights
$small-width: 600px;
$pad-width: 810px;
$height-header: 100px;
$height-footer: 100px;
$small-height: 900px;